/* Computer Moderna*/
@font-face {
    font-family: "computer-moderna";
    src: url(fonts/cmunbi.ttf) format(truetype);
    font-style: italic;
    font-weight: 100;
}
/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf) format(truetype);
}